<div class="flex">
  <div class="example">
    <div class="example__title">Model Value</div>
    <div class="example__display">{{decimalValue}}</div>
  </div>

  <div class="example">
    <div class="example__title">Locale</div>
    <select class="example__display" [(ngModel)]="locale" (change)="changeLocale()">
      <option *ngFor="let item of locales">{{item}}</option>
    </select>
  </div>
</div>

<div class="example">
  <div class="example__title">Input field</div>
  <pre><code class="example__code" [innerText]="code.one"></code></pre>
  <div class="example__display"><input type="text" ngxDecimal [(ngModel)]="decimalValue"></div>
</div>

<div class="example">
  <div class="example__title">Number display</div>
  <pre><code class="example__code" [innerText]="code.two"></code></pre>
  <div class="example__display"><ngx-decimal [value]="decimalValue"></ngx-decimal></div>
</div>
